<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="All Test Suite">
    <listeners>
        <listener class-name="org.cris.TestComponents.Listeners"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="Error Validations">
        <classes>
            <class name="org.cris.Test.ErrorValidations">
                <methods>
                    <include name="LoginErrorValidation"/>
                    <include name="ProductErrorValidation"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Submit Order test">
          <classes>
            <class name="org.cris.Test.SubmitOrderTest">
                <methods>
                    <include name="submitOrder"/>
                    <include name="OrderHistoryTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>